/*

Add styles or override variables from the theme here.

*/


// colors

$primary: #1d1b1b !default;


// Fonts

$google_font_name: "Lato" !default;
$google_font_family: "Lato:300,300i,400,400i,700,700i" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap";

$td-fonts-serif: Lato, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-family-sans-serif: $td-fonts-serif !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1.063rem !default;

// Line Spacings
$letter-spacing:.01em !default;
$line-height-base: 1.765;
