{{ $image := .Get "image" | default "/images/screen_large_1.webp" }}
{{ $title := .Get "title"  }}


<div class="container">
    <div class="row">
      <div class="col">


        <p class="home_title">
          {{$title}}
        </p>
    

      {{ if eq .Page.File.Ext "md" }}
        {{ .Inner | markdownify }}
      {{ else }}
        {{ .Inner | htmlUnescape | safeHTML }}
      {{ end }}
      </div>
      <div class="col">
        <img src="{{ $image }}" class="img-fluid">
      </div>
    </div>
</div>