<section class="row td-cover-block" style="background-color: #1b1a21;">
	<div class="container">
    <footer class="footer-component with-intercom">
      <div class="section-container footer-inner size-medium">
        <div class="content">
          <div class="page-container padding-small-x">
            <div class="margin-component bottom-small-x">
              <nav class="footer-links" role="navigation">
                <ul class="list-component footer-column ul">
                  <li class="list-item-component footer-item footer-item-header">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-caps footer-link footer-header inverted">Product</div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/product">Ferris FX</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/product">Ferris K8X</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/product">Ferris SX</a></div>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="list-component footer-column ul">
                  <li class="list-item-component footer-item footer-item-header">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-caps footer-link footer-header inverted">Solutions</div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/solutions">Why Ferris Labs?</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/integrations">Integrations</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/partners">Partners</a></div>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="list-component footer-column ul">
                  <li class="list-item-component footer-item footer-item-header">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-caps footer-link footer-header inverted">Learn</div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a rel="noopener noreferrer"
                            class="link-component footer-link" href="/docs/overview/ferris_fx/developerguide">Developer Guide</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a rel="noopener noreferrer"
                            class="link-component footer-link" href="/docs/overview/ferris_fx/integrationsguide">Integrations Guide</a></div>
                      </div>
                    </div>
                  </li>
									<li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a rel="noopener noreferrer"
                            class="link-component footer-link" href="/docs/overview/ferris_fx/userguide">User Guide</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/docs/security">Security</a></div>
                      </div>
                    </div>
                  </li>
                  {{/*  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/">News</a></div>
                      </div>
                    </div>
                  </li>  */}}
                </ul>
                <ul class="list-component footer-column ul">
                  <li class="list-item-component footer-item footer-item-header">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-caps footer-link footer-header inverted">Support</div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/support/">Support Plans</a></div>
                      </div>
                    </div>
                  </li>
                  {{/*  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a rel="noopener noreferrer"
                            class="link-component footer-link" href=""
                            target="_blank">Support FAQ</a></div>
                      </div>
                    </div>
                  </li>  */}}
                  {{/* <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/services">Professional Services</a></div>
                      </div>
                    </div>
                  </li> */}}
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a rel="noopener noreferrer"
                            class="link-component footer-link" href="/docs/overview">Documentation</a></div>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="list-component footer-column ul">
                  <li class="list-item-component footer-item footer-item-header">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-caps footer-link footer-header inverted">Company</div>
                      </div>
                    </div>
                  </li>
									<li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/blog/">Blog</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/about">About Us</a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/jobs"><span class="footer-pill-wrapper">Careers <span class="footer-pill">We're
                                hiring</span></span></a></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted"><a class="link-component footer-link"
                            href="/contact">Contact Us</a></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="margin-component bottom-small-x">
              <div class="centering-wrapper social-links">
                <a rel="noopener noreferrer" class="link-component social-link" href="https://twitter.com/ferrislabs" title="Twitter" target="_blank">
                  <img src="/icons/footer/twitter-icon.png" alt="Twitter">
                </a>
                {{/*  <a rel="noopener noreferrer" class="link-component social-link" href="#" title="Facebook" target="_blank">
                  <img src="/icons/footer/facebook-icon.png" alt="Facebook">
                </a>  */}}
                <a rel="noopener noreferrer" class="link-component social-link" href="https://www.linkedin.com/company/ferrislabs/" title="LinkedIn" target="_blank">
                  <img src="/icons/footer/linkedin-icon.png" alt="LinkedIn">
                </a>
                <a rel="noopener noreferrer" class="link-component social-link" href="https://www.youtube.com/channel/UC5miURXVxGLo17EyWPBWCug" title="YouTube" target="_blank">
                  <img src="/icons/footer/youtube-icon.png" alt="YouTube">
                </a>
                {{/*  <a rel="noopener noreferrer" class="link-component social-link" href="#">
                  <svg aria-labelledby="svg-inline--fa-title-yWZSZLEPPKP4"
                    data-prefix="fab" data-icon="discourse" class="svg-inline--fa fa-discourse icon-component"
                    role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <title id="svg-inline--fa-title-yWZSZLEPPKP4">Discourse</title>
                    <path fill="currentColor"
                      d="M225.9 32C103.3 32 0 130.5 0 252.1 0 256 .1 480 .1 480l225.8-.2c122.7 0 222.1-102.3 222.1-223.9C448 134.3 348.6 32 225.9 32zM224 384c-19.4 0-37.9-4.3-54.4-12.1L88.5 392l22.9-75c-9.8-18.1-15.4-38.9-15.4-61 0-70.7 57.3-128 128-128s128 57.3 128 128-57.3 128-128 128z">
                    </path>
                  </svg>
                </a>  */}}
                <a rel="noopener noreferrer" class="link-component social-link" href="https://github.com/Ferris-Labs/" title="GitHub" target="_blank">
                  <img src="/icons/footer/github-icon.png" alt="GitHub">
                </a>
                <a rel="noopener noreferrer" class="link-component social-link" href="https://www.medium.com/ferrislabs" title="Medium" target="_blank">
                  <img src="/icons/footer/medium-icon.png" alt="Medium">
                </a>
                <a rel="noopener noreferrer" class="link-component social-link" href="#" data-toggle="modal" data-target="#subscribeModal" title="Subscribe to our Newsletter">
                  <img src="/icons/footer/mail-icon.png" alt="Newsletter">
                </a>
              </div>
            </div>
            <div class="centering-wrapper legal-links">
              <div class="typography-text p2-normal align-center">
                <span class="copyright">{{ now.Year}} © FERRIS LABS AG</span>
                <span> | </span>
                <br class="br-component mobile">
                <a class="link-component legal-link" href="/docs/terms/privacy_policy">Privacy Policy</a>
                <span> | </span>
                <a class="link-component legal-link" href="/docs/terms/privacy_policy">Data Protection Policy</a>
                <span> | </span>
                <a class="link-component legal-link" href="/docs/terms/terms_conditions">Legal Terms and Conditions</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- Subscribe modal begin -->
{{ partial "subscribe_modal.html" }}
<!-- Subscribe modal begin -->
