<div class="modal" id="subscribeModal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
            <div class="modal-header"  style="background-color: #b81414;">
				<h4 class="modal-title" style="color: #ffffff;">Subscribe to our Newsletter</h4>
				<button type="button" class="close" style="color: #ffffff;" data-dismiss="modal">&times;</button>
			</div>
            <div class="modal-body">
			    <script type="text/javascript" src="//m.ferrislabs.net/form/generate.js?id=21"></script>
                <div class="mauticform-error" id="mauticform_flnewsletterform_error"></div>
                <div class="mauticform-message" id="mauticform_flnewsletterform_message"></div>
            </div>
        </div>
    </div>
</div>