---
title: "ABOUT"
linkTitle: "ABOUT"
---

<!-- Header block-->
{{< blocks/cover title="FERRIS LABS : ABOUT" image_anchor="top" height=auto color="primary" >}}
{{< /blocks/cover >}}


<!-- Ferris Evolution & History -->
{{< blocks/lead color="primary" >}}
<div class="col">
	<h1>Evolution and History</h1>
 <p class="lead mt-1">The Ferris technology ecosystem began its journey back in 2016 when the first Big Data and AI platform for one of the leading global Private and Wealth Management Banks in Switzerland was developed. From the beginning, key architectural principles were set, based on open source technologies and a hybrid cloud approach.</p>
 <p class="lead mt-1">Soon, Ferris evolved into an open and integrative platform, enabling customer centric and adaptive deplyoments, allowing a component based platform choice where only technologies are selected that are fit for each customer's needs. What started out as a Hadoop centric data platform, quickly became a toolbox of choice.</p>
 <p class="lead mt-1">The need for Agile development and fast time to market of projects, paired with an inherent challenge to harness ever more complex technologies, have lead Ferris to become more and more events and services driven. Sourcing new data and ingesting services fast and deploying new products within weeks has thus become the logical baseline of Ferris.</p>
 <p class="lead mt-1">Today, Ferris stands for THE micro-integrations platform, enabling ANY organization to build simple to complex data and process driven solutions fast and with a low learning curve.</p>
</body>
{{< /blocks/lead >}}

 <!-- Ferris Principles -->
{{< blocks/lead color="light gray" >}}
 <head>
 <meta name="viewport" content="width=device-width, initial-scale=1" class="lead mt-1">
 <style>
 * {
   box-sizing: border-box;
 }

 .column {
   float: left;
   width: 33%;
   padding: auto;
   height: auto;
 }

 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 </style>
 </head>

<body>
<h1>Principles</h1>
<div class="lead mt-1">
</div>

 <div class="row" class="lead mt-1">
   <div class="column">
		 <ul class="lead mt-1" style="padding: 0; list-style-position: inside; text-align: center">
		  <li>Hybrid cloud enabled</li>
		  <li>Open source technology</li>
		  <li>Fully containerized</li>
		</ul>
   </div>
   <div class="column">
		 <ul class="lead mt-1" style="padding: 0; list-style-position: inside; text-align: center">
			<li>Open architecture</li>
		  <li>Strong security</li>
		  <li>Low learning curve adaptation</li>
		</ul>
   </div>
	 <div class="column">
		<ul class="lead mt-1" style="padding: 0; list-style-position: inside; text-align: center">
			<li>Hybrid cloud enabled</li>
		  <li>Open source technology</li>
		  <li>Fully containerized</li>
	 </ul>
	 </div>
 </div>
 </body>
{{< /blocks/lead >}}

<!-- Founding Ferris Labs AG -->
<section class="row td-cover-block td-overlay" style="background-color: #FFFFFF;">

	<div class="container">
		<p class="home_title" style="text-align: center;">Founding Ferris Labs AG</p>
	</div>

	<div class="container">
	   <div class="row">
	 	 <div class="col-6" style="display: flex; justify-content: center;">
				<img src="/images/FERRIS LABS_Red.png" height="250" width="250">
		 </div>

		 <div class="col-6">
		  <p class="home_title">
		   <p class="lead ">Ferris Labs AG was founded on 1.1.2021 in Zug, Switzerland by a group of Data and Technology enterpreneurs, each bringing many years of successful track records in international and corporate business.</p>
		 	 <p class="lead ">The Ferris platform has been developed and established at prime customer sights since 2016. The reason for founding Ferris Labs was to establish Ferris as an industry leading data and process platform across industries and geographies.</p>
			 <p class="lead ">Ferris Labs is an indepependent and privately owned company. The organic growth of Ferris ensures laser sharp focus on development, distribution and growth.
			 </p>

			 <a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/">
			 Contact us <i class="fas fa-arrow-alt-circle-right ml-2"></i>
			 </a>
		   </p>
		 </div>
	   </div>
	   <div class="row">&nbsp;</div>
   </div>
   </section>


	 <!-- Ferris Management -->
	 <section class="row td-cover-block td-overlay" style="background-color: #e6d4da;">

	 	{{< blocks/usecases color="primary" >}}

	  {{< /blocks/usecases >}}


	 </section>




{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-lightbulb" title="Careers" url="https://ferrislabs.net/about" %}}
<p> Our vision is to work at the forefront of technology and to push the boundaries of the possible! What are your skills? Care to share them with us?</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/ferrislabs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features and company news, etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
