---
title: "ABOUT"
linkTitle: "ABOUT"
---

<!-- Header block-->
{{< blocks/cover title="FERRIS LABS : ABOUT" image_anchor="top" height=auto color="primary" >}}
{{< /blocks/cover >}}

  
<!-- The Timeline -->

<section class="row td-cover-block">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="timeline">
					<!-- Item 1 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Founding</span>
								<!-- <span class="time-wrapper"><span class="time">2013 - present</span></span> -->
							</div>
							<div class="desc">
								<p class="lead">
									Ferris Labs AG was established in Switzerland by a group of Data and Technology enterpreneurs,
									each bringing many years of successful track records in international and corporate business.
								</p>
								<p class="lead">
									The Ferris platform has been developed and established at prime customer sites since 2016.
									In 2021 Ferris Labs spun out as an independent company to establish Ferris as an industry leading data and
									process platform across industries and geographies.
								</p>
								<p class="lead">Ferris Labs is an independent and privately owned company.
									The organic growth of Ferris ensures laser sharp focus on development, distribution and growth.
								</p>
							</div>
						</div>
					</li>
				
					<!-- Item 2 -->
					<li>
						<div class="direction-l">
							<div class="flag-wrapper">
								<span class="flag">History</span>
								<!-- <span class="time-wrapper"><span class="time">2011 - 2013</span></span> -->
							</div>
							<div class="desc">
								<p class="text-justify lead">
									The Ferris technology ecosystem began its journey in 2016 when the first Big Data and AI platform for a
									leading global Private and Wealth Management Bank in Switzerland was developed and went live by year-end.
									Today, the Ferris Platform forms the core of the banks global data management strategy, sourcing approximately
									75% of its global data and serving dozens of analytics and AI use cases.
								</p>
							</div>
						</div>
					</li>
				
					<!-- Item 3 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Principles</span>
								<!-- <span class="time-wrapper"><span class="time">2008 - 2011</span></span> -->
							</div>
							<div class="desc">
								<p class="text-justify lead">
									From the beginning, key architectural principles of Ferris were set, based on open source technologies and a
									hybrid cloud approach.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<!-- Founding Ferris Labs AG -->
<section class="row td-cover-block td-overlay" style="background-color: #FFFFFF;">
	<div class="container">
		<p class="home_title" style="text-align: center;">Founding</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="display: flex; justify-content: center;">
				<img src="/images/FERRIS LABS_Red.png" height="250" width="250">
			</div>
			<div class="col-md-6">
				<p class="lead">
					Ferris Labs AG was established in Switzerland by a group of Data and Technology enterpreneurs,
					each bringing many years of successful track records in international and corporate business.
				</p>
				<p class="lead">
					The Ferris platform has been developed and established at prime customer sites since 2016.
					In 2021 Ferris Labs spun out as an independent company to establish Ferris as an industry leading data and
					process platform across industries and geographies.
				</p>
				<p class="lead">Ferris Labs is an independent and privately owned company.
					The organic growth of Ferris ensures laser sharp focus on development, distribution and growth.
				</p>
			</div>
		</div>
   	</div>
</section>


<!-- Ferris Evolution & History -->

{{< blocks/lead color="primary" >}}

<div class="container">
	<h1 class="text-center home_title">History</h1>
	<p class="text-justify lead">
		The Ferris technology ecosystem began its journey in 2016 when the first Big Data and AI platform for a
		leading global Private and Wealth Management Bank in Switzerland was developed and went live by year-end.
		Today, the Ferris Platform forms the core of the banks global data management strategy, sourcing approximately
		75% of its global data and serving dozens of analytics and AI use cases.
	</p>
	<p class="text-justify lead">
		From the beginning, key architectural principles of Ferris were set, based on open source technologies and a
		hybrid cloud approach.
	</p>
	<p class="text-justify lead">
		Meanwhile, Ferris has evolved into an open and integrative platform, working on a minimum set of hardware and 
		fully hybrid cloud enabled. The templated deployment model further enables a tailored setup, ensuring that only 
		those components are used that serve customers needs.
	</p>
	<p class="text-justify lead">
		“One of our learnings of the past years has been that a Data Strategy should never stand alone.
		It must include a strong Application and Process focus in order to ensure the optimal integration with the
		organisations business and technology endeavours.”
	</p>
	<p class="text-justify lead">
		The need for Agile development and fast time to market of projects, paired with an inherent challenge to harness
		ever more complex technologies, have lead Ferris to become more and more events and services driven.
		Sourcing new data and ingesting services fast has thus become the logical baseline of Ferris.
	</p>
	<p class="text-justify lead">
		All of this has driven the evolution of Ferris to divert our research and development outside of the sole scope
		of Big Data and into the space of AI/ML, DevOps, Enterprise Automation and Operations.
	</p>

</div>

{{< /blocks/lead >}}

<!-- Ferris Principles -->

{{< blocks/lead color=#dark >}}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" class="lead mt-1">
	<style>
		* {
			box-sizing: border-box;
		}

		.column {
			float: left;
			width: 33%;
			padding: auto;
			height: auto;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1 class="home_title">Principles</h1>
		<p class="text-center lead">Our principles are simple: push technology to the limits so that everyone benefits. Agility is key, be it at development time, while deploying or during operations.</p>
	</div>
	<div class="row text-left">
		<div class="col-md-4">
			<ul class="lead mt-1" style="padding: 0; list-style-position: inside;">
				<li>Hybrid cloud enabled</li>
				<li>Open source technology</li>
				<li>Fully containerized</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="lead mt-1" style="padding: 0; list-style-position: inside;">
				<li>Micro-integrations at the core</li>
				<li>Low learning curve adaptation</li>
				<li>Agilty in all phases</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="lead mt-1" style="padding: 0; list-style-position: inside;">
				<li>Open architecture</li>
				<li>Strong security</li>
				<li>Fast to market</li>
			</ul>
		</div>
	</div>
</body>

{{< /blocks/lead >}}

<!-- Ferris Management -->
<!--
<section class="row td-cover-block td-overlay" style="background-color: #e6d4da;">
	<div class="container">
		<div class="card-deck">
			<div class="card" style=" background-color: rgb(256, 256, 256);  box-shadow: 10px 10px 5px #ccc;
				-moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
				-webkit-box-shadow: 10px 10px 5px rgb(12, 11, 11);
				-khtml-box-shadow: 10px 10px 5px rgb(3, 3, 3); padding: 30px;">
				<img class="card-img-top" src="/images/card_image-2.svg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><strong>Board</strong></h5>
					<p class="card-text">...</p>
					<p class="card-text"><small class="text-muted">Learn More</small></p>
				</div>
			</div>
			<div class="card" style=" background-color: rgb(256, 256, 256);  box-shadow: 10px 10px 5px #ccc;
				-moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
				-webkit-box-shadow: 10px 10px 5px rgb(12, 11, 11);
				-khtml-box-shadow: 10px 10px 5px rgb(3, 3, 3); padding: 30px;">
				<img class="card-img-top" src="/images/card_image-2.svg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><strong>Management</strong></h5>
					<p class="card-text">...</p>
					<p class="card-text"><small class="text-muted">Learn More</small></p>
				</div>
			</div>
			<div class="card" style=" background-color: rgb(256, 256, 256);  box-shadow: 10px 10px 5px #ccc;
				-moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
				-webkit-box-shadow: 10px 10px 5px rgb(12, 11, 11);
				-khtml-box-shadow: 10px 10px 5px rgb(3, 3, 3); padding: 30px;">
				<img class="card-img-top" src="/images/card_image-2.svg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><strong>Advisory</strong></h5>
					<p class="card-text">...</p>
					<p class="card-text"><small class="text-muted">Learn More</small></p>
				</div>
			</div>
		</div>
	</div>
</section>
-->

<!-- Reference blocks -->
<!--
{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-lightbulb" title="Careers" url="/jobs/" %}}
<p> Our vision is to work at the forefront of technology and to push the boundaries of the possible! What are your skills? Care to share them with us?</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Ferris-Labs" %}}
We do a [Pull Request](https://github.com/google/ferrislabs/pulls) contributions workflow on **GitHub**. New users and contributors are always welcome. Your ideas count!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ferrislabs" %}}
For announcement of latest features and company news. We also post periodically articles on research and development practices.
{{% /blocks/feature %}}

{{< /blocks/section >}}
-->

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/ferris-demo', text: 'Book a Ferris Demo', color: '#b81414', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
