---
title: "About 1"
manualLinkTitle: "xolo"
parent: "aboutx"
identifier: "about_1"
menu.about:
  main:
    weight: 1
---

{{< blocks/cover title="FERRIS LABS : COMPANY" image_anchor="top" height=auto color="primary" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Ferris-Labs">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">The Platform for the fasted and simplest way to building your micro-integrations for events and services.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{< blocks/lead color="primary" >}}
<div class="col">
 <p class="lead mt-1">Ferris is a platform for building highly scalable, cross-network sync or async microservices and agents. The unique low learning curve approach significantly reduces the cost of deploying enterprise wide process and integration pipelines across disparate systems at a speed. While at the same time creating a platform with practically unbound access and ease of integration.</p>
<p class="lead mt-2">On Ferris you are effectively writing large applications by connecting “blocks” of code (Services) through Events.</p>
</div>
 {{< /blocks/lead >}}



{{< blocks/section  color="secondary" height="min" >}}
<div class="col">
	<p class="text-center"><img class="text-center" src="/images/ferris_products2.webp" width=1000 height=auto/></p>
  <p></p>
</div>
{{< /blocks/section >}}


{{< blocks/section  color="secondary" height="min" >}}
{{% blocks/2columnwide image="/images/ferris_products1.webp"  title=""%}}
# Micro-Integrations
* any combination of services and events
* simple to complex event processing
* hybrid cloud integrations
{{% /blocks/2columnwide %}}
{{< /blocks/section >}}



{{< blocks/section color="dark" >}}
<div class="col">
 <h1 class="text-center">Inventory of Adaptors and Services</h1>
 <p class="text-center">Anticipated target-state flow for continuous use by Ferris client</p>
 <p></p>
</div>
{{< /blocks/section >}}



{{< blocks/section color="secondary" >}}
<div class="col">
 <h1 class="text-center">Ferris example for end2end product flow</h1>
 <p class="text-center">Anticipated target-state flow for continuous use by Ferris client</p>
 <p class="text-center"><img class="text-center" src="/images/ferris_example_flow.webp" width=1000 height=auto/></p>
</div>
{{< /blocks/section >}}



{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-lightbulb" title="Development News!" url="https://ferrislabs.net/about" %}}
Get informed about new releases and the product roadmap.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/ferrislabs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features and company news, etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}

<<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/ferris-intro/30min?hide_event_type_details=1&primary_color=b81414', text: 'Book a Ferris Demo', color: '#b81414', textColor: '#ffffff', branding: false }); }</script>
<!-- Calendly badge widget end -->
