{{ define "main"}}
<main id="main">
    <div>
        <h1 id="title">404 - page not found</h1>
        <p>Oops! This page doesn't exist. Try going back to our <a href="{{ "/" | relURL }}">home page</a>.</p>

        <p>Custom Ferris 404 Page.</p>
    </div>
</main>
{{ end }}

{{< blocks/lead color="primary" >}}
<row>
    <div class="container">
        <h1 class="text-center home_title">Products that Power your Imagination</h1>
        <p class="text-center lead">The ease of working with Ferris with it's ability to rewire services at will and
            integrate across clouds and services Agility into engineering.</p>
    </div>
</row>
{{< /blocks/lead >}}
