{{ define "main"}}
<main id="main">
    <section class="row td-cover-block" style="background-color: #f9f9fa;">
        <div class="container">
            <p class="home_title" style="text-align: center;">Ferris DX | Digital Transformation</p>
            <div class="row">
                <div class="col-md-6" style="display: flex; justify-content: center;">
                    <img src="/images/case1-01.png" style="max-width: 100%;">
                </div>
                <div class="col-md-6">
                    <p class="lead">
                        The complete suite of Ferris services, empowering your digital transformation journey!
                    </p>
                    <p class="lead">
                        Filling the technology gap that's been hindering fast, agile and sustainable data and servives
                        integrations.
                    </p>
                    <p class="lead">
                        Ferris DX is a simple, scalable, cross-cloud, event-driven Integration Platform. Leveraging
                        industry-standard, open-source technology to connect all your clouds, systems and data - whether
                        it is for big data processing, stream processing, DevOps automation or AI/ML modelling.
                    </p>
                    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/demo" >}}">
                    Request a Demo <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="row">&nbsp;</div>
        </div>
    </section>
</main>
{{ end }}