+++
title = "FERRIS LABS"
linkTitle = "FERRIS LABS"

+++

{{< blocks/cover title="Welcome to FERRIS LABS: A Docsy Example Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="red" >}}


{{% blocks/3column image="/images/screen_1.webp" title="3 Column Title 1" %}}
3 Column Title 1

Please follow this space for updates!
{{% /blocks/3column %}}


{{% blocks/3column image="/images/screen_2.webp" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/3column %}}


{{% blocks/3column image="/images/screen_3.webp" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/3column %}}



{{< /blocks/section >}}




{{% blocks/lead color="primary" %}}
Goldydocs provides a single web UI providing visibility into porridge temperature, chair size, and bed softness metrics! You can even find out who's been eating **your** porridge.
(Sadly, Goldydocs isn't a real project, but you can use this site as an example to create your own real websites with [Docsy](http://docsy.dev))
{{% /blocks/lead %}}


{{< blocks/section  color="red">}}

<div class="col">
	<h1 class="text-center">Connect to ANYTHING</h1>
	<p class="text-center"><img class="text-center" src="/images/architecture.webp" /></p>
</div>

 {{< /blocks/section >}}
 

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}



{{< /blocks/section >}}



{{< blocks/section color="white">}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}





{{< /blocks/section >}}


{{< blocks/section color="yellow">}}
<div class="col">
	<h1 class="text-center">Craft beautiful dashboards that actually get used</h1>
</div>
{{< /blocks/section >}}



{{< blocks/section color="white" >}}


{{% blocks/2column image="/images/screen_large_1.webp" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.
Please follow this space for updates!
{{% /blocks/2column %}}


{{% blocks/2column image="/images/screen_large_2.webp" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/2column %}}


{{< /blocks/section >}}



{{< blocks/section  color="dark">}}

<div class="col">
	<p class="text-center"><img class="text-center" src="/images/screen_large_1.webp" /></p>
	<h1 class="text-center">Visualizations for the modern data stack</h1>
	<p class="text-center">Leverage the investments you have made in your data infrastructure with a lightweight and powerful visualization layer on top. Preset is agnostic to your underlying data architecture and doesn't require an additional ingestion layer.</p>
</div>

 {{< /blocks/section >}}


 {{< blocks/section color="red" >}}




 {{< blocks/section  color="red">}}

<div class="col">
	<h1 class="text-center">Connect to ANYTHING</h1>
	<p class="text-center"><img class="text-center" src="/images/architecture.webp" /></p>
</div>

 {{< /blocks/section >}}




{{% blocks/3column image="/images/screen_1.webp" title="3 Column Title 1" %}}
3 Column Title 1

Please follow this space for updates!
{{% /blocks/3column %}}


{{% blocks/3column image="/images/screen_2.webp" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/3column %}}


{{% blocks/3column image="/images/screen_3.webp" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/3column %}}



{{% blocks/3column image="/images/screen_1.webp" title="3 Column Title 1" %}}
3 Column Title 1

Please follow this space for updates!
{{% /blocks/3column %}}


{{% blocks/3column image="/images/screen_2.webp" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/3column %}}


{{% blocks/3column image="/images/screen_3.webp" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/3column %}}



{{< /blocks/section >}}



{{< blocks/section color="white">}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

	{{% blocks/thumbnail image="/images/brand_icon.webp" title="" %}}
	{{% /blocks/thumbnail %}}

{{< /blocks/section >}}





